@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,600,600i');

/* GENERALS */

* {
  margin: 0;
  padding: 0;
}

  body {
    font-family:"Open Sans", OpenSans, sans-serif;
    font-weight: 300;
  }

  .container {
    width: 70%;
    margin: 0 auto;
  }

  .btn {
    color:white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 20px;
    margin: 20px 0;
    display: inline-block;
  }

  .clearfix {
    clear: both;
  }

/* NAV */

  .nav-bar {
    background-color: #c12127;
    color: rgba(255,255,255,0.8);
    padding: 15px 0;
    font-size: 14px;
  }
  .nav-bar a {
    color: rgba(255,255,255,0.8);
    text-decoration: none;
  }
  .top-left {
    float: left;
    margin: 0 0 0 20px;
  }
  .acronym {
    margin: 0 0 0 5px;
  }
  .top-links {
    display: inline-block;
    float: right;
    padding: 0 ;
    margin: 0 20px 0 0 ;
  }
  .top-links li {
    display: inline-block;
    margin: 0 10px ;
  }

/* HEADER */

  .header {
    background-color: rgb(32, 101, 136);
    color:white;
    background-image: url("images/city-scape.svg");
    background-size: cover;
    padding-bottom: 30px;
  }

  .header-nav {
    padding: 15px;
  }

  .header-nav .npm-logo {
    float: left;
    width: 8%;
  }

  .header-nav form {
    float: left;
    margin: 0 1%;
    width: 76%;

  }

  .header-nav input {
    color: white;
    padding: 10px;
    width: 92%;
    background: rgb(31, 82, 111);
    border: 1px solid rgba(204,204,204,0.2);
  }

  .header-nav button {
    color: #ccc;
    padding: 10px;
    margin-left: -5px;
    background: rgb(31, 82, 111);
    border: 1px solid rgba(204,204,204,0.2);
  }

  .header-sign {
    float: left;
    width: 14%;
  }

  .header-sign p {
    display: inline-block;
    vertical-align:  middle;
    width: 70%;
  }

  .header-sign a{
    text-decoration: none;
    color: white;
  }

  .header-sign .bear-logo {
    width: 20%;
    vertical-align: middle; 
  }

  /* end of header bar*/

  .header-content {
    display: inline-block;
    width: 60%;
  }

  .header-content p {
    margin: 20px;    
  }

  .header-content .btn {
    background: rgb(240,146,51);
  }

  /* SECTION 1 */

  #section-1 {
    color: white;
    background: rgb( 39, 53, 71);
    padding: 50px 0;
  }
  
  #section-1 img {
    width: 50%;
    float: left;
  }
  
  #section-1 .text {
    float: right;
    width: 40%;
  }

  #section-1 h2 {
    margin-bottom: 10px;
  }

  #section-1 li {
    margin: 10px 0;
  }

  #section-1 .btn {
    background: rgb( 203, 56, 55);
    font-weight: 300;
    margin-bottom: 0px;
  }

  #section-1 a {
    text-decoration: none;
    color: white;
    font-weight: 600;
  }

/* SECTION 2 */

  #section-2 {
    color: white;
    background-image: url('images/forklift.svg');
    background-size: cover;
    padding: 100px 0;
    position: relative;
  }

  #section-2 .container {
    padding: 100px 0;  
  }

  #section-2 .text {
    width: 30%;
    top: 100px;
    position: absolute;
  }

  #section-2 .btn {
    background: rgb( 49, 68, 88);
  }

  /* SECTION 3 */

  #section-3 {
    color: rgb( 135, 145, 156);
    text-align: center;
    padding: 20px;
  }

  #section-3 .heading {
    margin-bottom: 30px;
  }

  #section-3 .heading h2 {
    margin-bottom: 30px;
    color: rgb( 83, 88, 98);
  }

  #section-3 .box {
    display: inline-block;
    width: 33%;
    box-sizing: border-box;
    padding: 20px 40px ;
    margin-top: 0px;
  }

  #section-3 img {
    width:60%;
    height:100%;
    padding: 20px;
  }

  #section-3 h4{
    font-weight: 600;
    margin: 15px 0;
    color: rgb( 83, 88, 98);
  }

  #section-3 a {
    font-weight: 600;
    text-decoration: none;
    color: rgb( 208, 74, 73);
  }




  







        
